In [9]:
import pandas as pd
import numpy as np
import json

In [9]:
df = pd.read_csv("email.csv")

In [10]:
print(len(df))

180

In [11]:
df.head()

,Mail ID,Receiver,Subject,Mail_Body,Date
0,18687eba84b5c8fb,['Jeet Dhaval Shah <jeetds@uci.edu>'],['Fwd: Thank you for your interest in Western ...,---------- Forwarded message ---------\r\nFrom...,"['Sat, 25 Feb 2023 01:33:23 -0800']"
1,18687ead200d9ff0,['Jeet Dhaval Shah <jeetds@uci.edu>'],['Fwd: Thank you for your interest in Lucid Mo...,---------- Forwarded message ---------\r\nFrom...,"['Sat, 25 Feb 2023 01:32:28 -0800']"
2,18687ea2fb0445aa,['Jeet Dhaval Shah <jeetds@uci.edu>'],['Fwd: Thank you for your application to Rivia...,---------- Forwarded message ---------\r\nFrom...,"['Sat, 25 Feb 2023 01:31:46 -0800']"
3,18687e9b6dde2b28,['Jeet Dhaval Shah <jeetds@uci.edu>'],['Fwd: Important information about your applic...,---------- Forwarded message ---------\r\nFrom...,"['Sat, 25 Feb 2023 01:31:16 -0800']"
4,18687e8fa78d1e55,['Jeet Dhaval Shah <jeetds@uci.edu>'],['Fwd: Thank you for your interest in IBM'],---------- Forwarded message ---------\r\nFrom...,"['Sat, 25 Feb 2023 01:30:27 -0800']"

In [13]:
mails = df['Mail_Body']

In [15]:
mails_0 = mails[0]

In [22]:
tst = mails_0.split('\r\n')

In [28]:
mails0 = tst[5:]

In [30]:
" ".join(mails0)

'\nDear Jeet Dhaval, \nThank you for your interest in the Intern, Electrical and Embedded Firmware Engineering (Summer 2023) position at Western Digital. While your skills and background are impressive, we have decided to proceed with other applicants who more closely fit our needs at this time. \nWe appreciate your time and effort in submitting an application. We encourage you to apply for other positions at Western Digital in the future. \nAgain, thank you for your interest in a position with Western Digital and we wish you success in your job search and future career. \nSincerely, Western Digital Team Sent via SmartRecruiters <https://urldefense.com/v3/__https://eulink.smartrecruiters.com/c/eJx1kMtqwzAURL8m2tnoLXmhRUhcmi4SKN4XPa4SlfiBJDfk72vabQuzGzhzGDBEKilERwRFwXCsrUB-Hhc7PU_BSCwDVk53vCPACGYiRmI7h5KhmDJMiSRcUEba6L2yShEureA-wo7jMtpcM_i8pgq5tBsWwWjTfXguYN77t_4wnC7nj-Hycdifj6fjfujR3dxqXcqO7Xf0Zcvj8Wj_AG3Nkuew-vqLfE2lzvlHmQFwRqMGzZnmimGghGOKsvkEqKFsZqtPLYQVzTld09RPXynP0whTNTHbCdX_5EYoxV5hWxEychfBNSqK2HDXuUYLqRqwTAjtQBNp0c0o5X0MgVnlQHAnlWY6dtDZgCXZbv0GQfZ3BQ__;!!CzAuKJ42GuquVTTmVmPViYEvSg!PuXkA3m5Pu06hINPW81jd7bmsAOVT8YwKc3eWY7SSs_JCzjuZu_YIA2RQ5oaOwBjQV9KAYvxR3Eik4aVn0Cku3ytgJ6K$>, your hiring success platform. Learn more about our company and policies here <https://urldefense.com/v3/__https://eulink.smartrecruiters.com/c/eJx1UMtqAjEU_RqzG8k7mUUWopbahUJxX26SG02ZF5mo-PedttsWDpzFgfNCx7TRSrVMcRKdpBYUCWM_wfA8RKepjtR428qWoWBUqJQYtJ5kxykXlDPNpOKCrVMIBoxhUoOSIeFK0rmHUguGcssVy7xebAn2kLvzc0L3vn_bb8-H0_HjfPrYbo67w25z3pPOXWud5pXYrPjLgsfjsf7DaFE6vEC3cIAh5ggVm6nkO4RnM41dDs_frNc817H8bBGIUvBk0UphpREUOZOUk-I-EWucl8q3kNcYb2Qs-ZKH_XDPZRx6HKpLBQZS_2vd4zzDBZcUpZP0CX1jkkqN9K1vrNKmQRBKWY-WaSBX55OPTGuuvi9VseXWoODQRh4EaOa_AEMaf60__;!!CzAuKJ42GuquVTTmVmPViYEvSg!PuXkA3m5Pu06hINPW81jd7bmsAOVT8YwKc3eWY7SSs_JCzjuZu_YIA2RQ5oaOwBjQV9KAYvxR3Eik4aVn0CkuxsMzQnO$>.'

In [10]:
jobs = pd.DataFrame()
path = "data.ldjson"
with open(path,'r',encoding='utf8') as f:
    for i,line in enumerate(f):
        try:
            data  = json.loads(line.strip('\n'))
            temp = pd.DataFrame([data],columns = ['job_title','job_description'])
            jobs = pd.concat([jobs,temp],axis=0)
        except Exception as e:
            print(e)

Extra data: line 1 column 7004 (char 7003)

In [11]:
jobs

,job_title,job_description
0,Asphalt/Concrete Senior Project Manager,SR. PROJECT MANAGER WANTED!!! My client is a M...
0,Amazon Warehouse Team - Full Time,"Shifts: Overnight, Early Morning, Day, Evening..."
0,Amazon Warehouse Associate - Morning Shifts Av...,"Shifts: Early Morning, Day, Evening Location: ..."
0,Assembly Electrical,Do you pride yourself on attention to detail a...
0,Graphics Designer,In your role as Graphics Designer for Alaska C...
...,...,...
0,Part Time OR Temporary Warehouse Associate,"Capstone Logistics, LLC is part of The Transpo..."
0,Patient Access Specialist,Ref ID: 00100 [ Phone number blocked ] Classif...
0,Registered Nurse - ICU - 13 Week Contract,We’re hiring a highly skilled Registered Nurse...
0,Amazon Prime Now Shopper - Earn $15/hr or more...,sFulfillment Centers – Work inside an Amazon w...
0,Warehouse Operator - Earn $15/hr or more,?? Amazon is hiring entry-level roles near you...

In [12]:
jobs['Type'] = 'Position'

In [13]:
jobs.rename(columns={"job_title":"Text"},inplace=True)

In [14]:
jobs.head()

,Text,job_description,Type
0,Asphalt/Concrete Senior Project Manager,SR. PROJECT MANAGER WANTED!!! My client is a M...,Position
0,Amazon Warehouse Team - Full Time,"Shifts: Overnight, Early Morning, Day, Evening...",Position
0,Amazon Warehouse Associate - Morning Shifts Av...,"Shifts: Early Morning, Day, Evening Location: ...",Position
0,Assembly Electrical,Do you pride yourself on attention to detail a...,Position
0,Graphics Designer,In your role as Graphics Designer for Alaska C...,Position

In [20]:
entity = jobs[['Text','Type']][:4000]
print(len(entity))

4000

In [21]:
entity.head()
entity.to_csv('entity.csv')

In [23]:
for i in range(4000):
    text_data = jobs.iloc[i]['job_description']
    text_data = text_data.split(".")
    text_data = "\n".join(text_data)
    with open(f'Dataset3/{i}.txt','w') as f:
        f.write(text_data)

In [19]:
import os

dir_name = "."
test = os.listdir(dir_name)

for item in test:
    if item.endswith(".txt"):
        os.remove(os.path.join(dir_name, item))

In [1]:
import boto3

In [3]:
s3 = boto3.resource('s3', endpoint_url="https://entityrecog.s3-accelerate.amazonaws.com")

In [6]:
s3.upload_file('Dataset')

AttributeError: 's3.ServiceResource' object has no attribute 'upload_file'